@{
    ViewBag.Title = "Home Page";
    Layout = null;
}


<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
 
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@

    <style>
        .footer {
            /*position: fixed;*/
            left: 0;
            padding-left:20px;
            bottom: 0;
            width: 100%;
            /*background-color: red;*/
            color: royalblue;
            text-align: left;
        }
    </style>

</head>
<body>
    <div class="s010">

      
        <form>
         
           
            <div class="inner-form ">
                <div class="row third col-lg-6 " style="text-align:center;">
                    <div class="input-field ">

                        <div class="btn-group-justified">

                            <button class="btn-search col-lg-12">Book Finder</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="basic-search">
                    <div class="input-field">
                        <input id="search" type="text" placeholder="Find Any Books" />
                        <div class="icon-wrap">

                            

                            @*<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                            </svg>*@
                        </div>
                       
                    </div>

                  
                </div>
                <div class="row third col-lg-6"style="text-align:center;" >
                    <div class="input-field">
                       
                        <div class="group-btn ">
                        
                            <button type="button" id="SearchBtn" class="btn-search">SEARCH</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="advance-search" style="text-align:center" id="Box">
                    @*<span class="desc">List of Books</span>*@
                   
                    <div class="container" id="result">
                      
                    </div>

                </div>
            </div>
        </form>
    </div>


    <div class="footer">
        <p>@DateTime.Now Developed by <a href="https://github.com/talukderroni">Talukder Roni</a></p>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Content/js/extention/choices.js"></script>

    <script>
//-----------------Api Data-----//

        $("#Box").hide();
        $(document).on('keypress', function (e) {
            if (e.which == 13)
            {
                e.preventDefault();
                $("#SearchBtn").click();
              
            }
        });



        $("#SearchBtn").click(function ()
        {
            var searchItem = $("#search").val();

            var googleAPI = "https://www.googleapis.com/books/v1/volumes?q=" + searchItem;
            if (searchItem == '') {

                alert("please enter Any Book Name");
            }
            else
            {
                var bookUrl = '';
                var Title = '';
                var Image = '';
                var author = '';


                $.ajax({
                    type: 'GET',
                    url: googleAPI,
                    success: function (data)
                    {// get data from Book Api
                        console.log(data);
                        $("#Box").show();
                        $("#result").empty();
                        $.each(data.items, function (index, item)
                        {
                           
                          
                            $("#result").append('<h2>' + item.volumeInfo.title + '</h2>');
                            $("#result").append('<p> By-' + item.volumeInfo.authors + '</p>');
                            $("#result").append('<p><img src="' + item.volumeInfo.imageLinks.thumbnail + '" class="img-rounded" alt="Cinque Terre" width="304" height="236">');

                         
                            $("#result").append('<p class="btncss"><a href="' + item.volumeInfo.infoLink + '" class="btn btn-danger cssBtn" id="button">Read More</a></p>');
                             
                         

                            $(".cssBtn").css({
                                "width":"300px",
                                "background-color": "Red", "font-size": "20px",

                                //"border-radius": "12px",
                                "border": "none",
                                "color" :"white" ,
                            "  padding"  : "15px 10px",
                            "text-align": "center",
                        
                            "text-decoration": "none"
                         
                            });

                        });
                       
                    }
                });

            }
           
        })

//-----------------------
      const customSelects = document.querySelectorAll("select");
      const deleteBtn = document.getElementById('delete')
      const choices = new Choices('select',
      {
        searchEnabled: false,
        itemSelectText: '',
        removeItemButton: true,
      });
      for (let i = 0; i < customSelects.length; i++)
      {
        customSelects[i].addEventListener('addItem', function(event)
        {
          if (event.detail.value)
          {
            let parent = this.parentNode.parentNode
            parent.classList.add('valid')
            parent.classList.remove('invalid')
          }
          else
          {
            let parent = this.parentNode.parentNode
            parent.classList.add('invalid')
            parent.classList.remove('valid')
          }
        }, false);
      }
      deleteBtn.addEventListener("click", function(e)
      {
        e.preventDefault()
        const deleteAll = document.querySelectorAll('.choices__button')
        for (let i = 0; i < deleteAll.length; i++)
        {
          deleteAll[i].click();
        }
      });

    </script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
